
body {
	color: #000000;
	background: #FFFFFF;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 100%;
}

strong {
	font-weight: bold;
}

#wrapper {
	max-width: 800px;
	margin: 0 auto;
}

header {
	margin-top: 2em;
	text-align: center;
}

@media screen and (max-width: 736px) {
	header img {
		width: 80%;
		max-width: 400px;
		height: auto;
	}
}

h1 span {
	font-size: 1.6em;
}

h2 {
	display: block;
	margin: 1em 0;
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
}

@media screen and (max-width: 736px) {
	h2 {
		margin-bottom: 2em;
		font-size: 10pt;
	}
}

section, aside {
	display: block;
	float: left;
	width: 50%;
	margin: 1em 0;
	padding-bottom: 1em;
}

section.full {
	width: 100%;
}

section h3 {
	display: block;
	padding: 0 0.5em 0.2em 0.5em;
	font-size: 14pt;
	border-bottom: 2px #752239 solid;
}

section ul {
	padding: 0.4em 0 0 0;
}

section p {
	display: block;
	padding: 0.4em 1em 0 1em;
	font-size: 12pt;
	line-height: 1.2em;
}

section.full p {
	text-align: center;
}

aside  {
	text-align: center;
}

aside span {
	font-size: 10pt;
}

@media screen and (max-width: 736px) {
	section, aside  {
		float: none;
		width: 100%;
	}
	
	section h3, section p, section ul {
		width: 80%;
		margin: 0 auto;
	}
	
	section.full p {
		width: 90%;
	}
}

footer {
	clear: both;
	margin: 1em 0;
	font-size: 11pt;
	text-align: center;
}

/* disclaimer */
section#disclaimer p {
	text-align: left;
}

/* tables */
table {
	width: 100%;
}

td {
	padding: 1em;
	vertical-align: top;
	line-height: 1.3em;
}

/* clear floats */
.clear {
	clear: left;
}

/* list */
ul {
	list-style: disc;
}

li {
	margin-left: 2.5em;
	padding-top: 0.4em;
}

/* links */
a, a:visited {
	color: blue;
	text-decoration: underline;
}

a.tel {
	color: #000000;
	text-decoration: none;
}

@media screen and (max-width: 736px) {
	a.tel {
		color: blue;
		text-decoration: underline;
	}
}